*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to right, #2d8eb181, #254dc5);
}

.contenido-centrado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}