*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to right, #2d8eb181, #254dc5);
}

/* Estilos para el contenedor */

.contenido-centrado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contenedor{
    width: 80vw;
    max-width: 600px;
    min-height: 500px;
    padding: 20px;
    background-color: #fff;
    border: 5px solid #000000;
    border-radius: 30px;
}

.contenedor-interno{
    width: 80%;
}

/* Contenido */
#titulo{
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-family: 'Courgette', cursive;
}

#cita{
    font-size: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

#autor{
    width: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: 'Courgette', cursive;
}

#boton-cambiar-cita{
    margin-top: 35px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    background-color: #0dacd4;
    border: 1px solid #0dacd4;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    transition: .5s;
}

#boton-cambiar-cita:hover{
    background-color: #ffffff;
    color: #0dacd4;
}