.acordeon {
    background-color: #808080;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    transition: 0.5s;
}

.activo,
.acordeon:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 1em;
    display: none;
    background-color: #ffffff;
    overflow: hidden;
}