body{
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
  position: relative;
  width: 400px;
  height: 400px;
  background: #D33526;
  display: grid;
  place-items: center;
}

.ball-big {
  position: relative;
  width: 200px;
  height: 200px;
  animation: ball 7s ease-in-out infinite;
  transform-style: preserve-3d;
}

.ball-big .plane {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 50%;
    opacity: 0.3;
  }
  
  .ball-big .plane-1 {
    transform: rotateX(0deg);
  }
  
  .ball-big .plane-2 {
    transform: rotateX(30deg);
  }
  
  .ball-big .plane-3 {
    transform: rotateX(60deg);
  }
  