* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

.max-view-height {
    height: 100vh;
}

.flex-direction-column {
    flex-direction: column;
}

.hidden{
    opacity: 0%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#container-horno {
    position: relative;
    width: 25%;
    background-image: url(../tools/image/horno.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#container-horno > video {
    margin-top: 4px;
    width: 100%;
}

#perilla-horno {
    position: absolute;
    top: 10.7%;
    left: 18.5%;
    width: 7%;
    height: 6.3%;
    background-image: url(../tools/image/perilla.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#puerta-horno{
    position: absolute;
    top: 23%;
    left: 8%;
    width: 84%;
    height: 54%;
    opacity: 25%;
}