body{
    font-family: 'Verdana';
    background-color: #ffe4c4;
}

.titulo{
    text-align: center;
    color: #ff0000;
}

span{
    display: inline-block;
    background-color: #ccc;
    width: 100px;
    height: 20px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    line-height: 20px;
}

.texto{
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: rgb(244, 244, 244);;
}

.texto p{
    line-height: 28px;
}

.opciones{
    background-color: rgb(244, 244, 244);
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ccc;
    min-height: 40px;
}

.opciones .palabra{
    display: inline-block;
    background-color: cadetblue;
    color: #fff;
    margin: 5px;
    padding: 4px 7px;
    width: 100px;
    border-radius: 6px;
    cursor: pointer;
}

.opciones .palabra:hover{
    background-color: #000;
    color:#fff;
}

#resultado{
    text-align: center;
}

#comprobar{
    display: block;
    margin: auto;
    font-size: 20px;
    padding: 5px 10px;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    background-color: #07789b;
    border: none;
    color:#fff;
    cursor: pointer;
}

#comprobar:hover{
    display: block;
    margin: auto;
    padding: 5px 10px;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ff0000;
    color:#ff0000;
    cursor: pointer;
}
