:root {
    --lado: 300px;
}

* {
    transition: all 1s;
    box-sizing: border-box;
}

body {
    background: lightseagreen;
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-perspective: 300;
}

input{
  text-align: center;
  font-size: 200%;
}

.contenedor {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moneda,
.lado{
    width: var(--lado);
    height: var(--lado);
}

.moneda {
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}

.lado {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 800%;
}

.frente {
    background: white;
}

.atras {
    background: black;
    color: white;
    transform: rotateY(180deg);
}

.frente i{
    color: crimson;
}

.atras i{
    color: orange;
}