body{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background: #0e76dd;
}

.titulo{
    text-align: center;
    margin: 2rem;
    color: #fff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.46);
}