*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(161, 248, 248);
}

header{
    background: url(../img/header.png);
    height: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1{
    text-transform: uppercase;
    font-weight: bold;
    color: #0000ff;
    font-size: 40px;
}

header form{
    width: 500px;
    background-color: #fff;
    display: flex;
    border-radius: 20px;
    border: 1px solid #000;
    overflow: hidden;
    margin-top: 20px;
}

header form input{
    width: 80%;
    padding: 10px;
    border: 1px solid #000;
    font-size: 18px;
    outline: none;
}

header form button{
    width: 20%;
    border: 0;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    cursor: pointer;
}

header form button:hover{
    width: 20%;
    border: 0;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
}

#resultado-busqueda{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#resultado-busqueda img{
    width: 100%;
    height:  230px;
    object-fit: cover;
    border-radius: 5px;
}

#mostrar-mas{
    border: 0;
    width: fit-content;
    margin: auto;
    display: block;
    margin-top: 50px;
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
    padding: 12px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    display: none;
    transition: .5s;
}

#mostrar-mas:hover{
    border: 0;
    width: fit-content;
    margin: auto;
    display: block;
    margin-top: 50px;
    background-color: rgb(161, 248, 248);
    color: #000;
    border: 2px solid #000;
    transition: .5s;
}
