/* Fuente */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* Estilos Globales */
:root {
    --Orange: #f5821f;
    --Grey: #333;
    --White: #fff;
    --Pink: #e60073;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Encabezado */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header .logo {
    position: relative;
    max-width: 150px;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: var(--Grey);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

header .navigation li a:hover {
    color: var(--Orange);
}

/* Principal */
main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--White);
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .textBox {
    position: relative;
    max-width: 600px;
}

.container .textBox h2 {
    color: var(--Grey);
    font-size: 3.8em;
    line-height: 1.4em;
    font-weight: 600;
}

.container .textBox h2 span {
    color: var(--Pink);
    font-size: 1.2em;
    font-weight: 900;
}

.container .textBox p {
    color: var(--Grey);
}

.container .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: var(--Pink);
    color: var(--White);
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all .3s linear;
}

.container .textBox a:hover {
    transform: scale(1.1);
}

.container .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-left: 50px;
    margin-top: 50px;
}

.container #three-container {
    width: 100%;
    height: 400px;
    position: relative;
}
