@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background: url(../img/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
}

.logo{
    width: 120px;
    height: 25px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #294674;
}

  