* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.max-view-height {
    height: 100vh;
}