body {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

#titulo {
    color: #ff0000fb;
    font-weight: bold;
    font-size: 35px;
}

button {
    font-size: 20px;
}

input {
    font-size: 30px;
    width: 26px;
    font-family: 'Courier New', monospace;
}

div {
    padding-bottom: 1em;
}

#resultado {
    color: #25d4e0;
}

#volver {
    display: none;
}

#progreso {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #ddd;
}

#barra {
    position: absolute;
    width: 1%;
    height: 60%;
    background-color: #25d4e0;
}