body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #009dfff5;
}

.testimonial-container{
    width: 60%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    margin-top: 60px;
}

.tituto-testimonio{
    text-align: center;
    color: #0000ff;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.testimonial{
    display: none;
    text-align: center;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
}

.author{
    display: block;
    margin-top: 10px;
    font-style: italic;
}

.testimonial-container-button{
    margin-top: 40px;
}

#prevBtn{
    height: 40px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #0000ff;
    color: #ffffff;
    border-radius: 5px;  
    font-size: 18px;
    border: 2px solid #0000ff;
}

#nextBtn{
    height: 40px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 5px; 
    font-size: 18px; 
    border: 2px solid #ff0000;
}

#prevBtn:hover{
    background-color: #ffffff;
    color: #0000ff;
    border: 2px solid #0000ff;
}

#nextBtn:hover{
    background-color: #ffffff;
    color: #ff0000;
    border: 2px solid #ff0000;
}

