*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #808080b9;
}

.container{
    position: relative;
    display: flex;
}

.clock{
    position: relative;
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock :is(.hr, .mn, .sc){
    font-size: 60px;
    font-weight: 600;
}

.clock .text{
    font-size: 35px;
}