body {
    width: 580px;
    margin: 0 auto;
    text-align: center;
    background-color: #e4eaeb;
}

.celda {
    padding: 8px;
    border: 1px solid #000000;
    width: 20px;
    float: left;
    text-align: center;
}

#mensaje {
    color: #006eff;
    font-weight: bold;
}

#subtitulo {
    color: #006eff;
}

#palabras {
    text-align: center;
    font-size: 2em;
    margin-top: 650px;
}