*{
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(65, 0, 0);
    animation: ColorAnimate 8s linear infinite;
}

@keyframes ColorAnimate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}